* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    color: $clr2;

    @include for-wide-layout {
        /* width */
        ::-webkit-scrollbar {
            width: 3px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 2.5rem;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #777;
        }
    }

    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    color: darken($clr1, 36);
}

.logo-container {
    margin: 25px 0;
    height: 50px;
    width: 250px;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 10px;
    @include for-wide-layout {
        margin-left: 0;
    }
    .logo {
        content: url(../../images/D-signature-logo.png);
        width: 100%;
    }
}
